/* hide the vertical ad bar */
._1_ag99JsBHxI6S4FP5ayPv {
  display: none !important;
}

/* hide the small ad bar in other email page */
._2a6h2L3Tl12cnq2P7ZG9y_ {
  display: none !important;
}

/* hide the upgrade premium ad bar */
._1ZEdP0-JdMOVtjBb5ZcM6M {
  display: none !important;
}

.LeftRail {
  display: none !important;
}
.QVF0n {
  display: none !important;
}

.scrollbar {
    height: 28px;
    width: 28px;
}
.f12onbmq {
    padding:0px 199px;
}
.___oxltk-4 {
	padding:0px 200px;
}
.fui-FluentProvider {
	padding:0px 140px;
}
.f22iagw {
	padding:0px 80px;
}
